In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from matplotlib import colors
import seaborn as sns

In [10]:
users = pd.read_pickle("users_date_df.pkl")
retail = pd.read_excel('dataset/digikala_customer_orders.xlsx', sheet_name="orders")

In [27]:
# retail[retail.price<=10000]['price'].unique()
retail = retail.drop(retail[retail.price <1000].index)

In [30]:
retail[retail.price<1000]

Empty DataFrame
Columns: [order_id, user_id, variant_id, product_id, quantity, price, date, city_id, city_name, state_id, state_name]
Index: []

In [37]:
retail.loc[retail.quantity<=0,'quantity']=1

In [39]:
retail.loc[retail.quantity<=0]

Empty DataFrame
Columns: [order_id, user_id, variant_id, product_id, quantity, price, date, city_id, city_name, state_id, state_name]
Index: []

In [41]:
len(retail)

199930

dataset cleaned!

In [42]:
retail.to_pickle('digikala_retail_cleaned.pkl')